body {
  background-color: #1da1f2;
  
}

#quote-box {
  max-width: 400px;
  margin : auto;
  padding: 0px 15px 0px 15px;

  color: white;
}

#text {
  margin-top: 70px;
  font-size: 25px;
}

    
.color-white {
  background-color: white;
}

.m-btn-primary {
  font-family: 'Roboto', sans-serif;
  min-width: 36px;
  display: inline-block;
  overflow: hidden;
  height: 52px;
  padding: 8px 12px;
  background-color: #1e88e5;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

}

.m-btn-primary:hover {
  cursor: pointer;
  -webkit-box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
  box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
}

.m-btn-primary:focus {
  outline: 0;
}

.btn-custom {
  margin-right: 20px;
}

.fa {
  /* padding: 10px; */
  font-size: 30px;
  /* width: 30px; */
  /* text-align: center; */
  text-decoration: none;
  margin: 3px 3px;
}

.fa-twitter {
  /* background: #55ACEE; */
  color: white;
}
